* {
  margin: 0;
  padding: 0;
  //   box-sizing: border-box;
}

//SI PONGO POSITION FIXED AL HEADER PONER EL MARGEN AL MAIN
// main {
//   padding-top: 120px;
// }

body {
  // min-height: 100vh;
}
main {
  margin: 0 10px;
}
